body {
    background-color: #F0F0F0;
}

/* Background squares */

.wsquare {
    height: 50px;
    width: 50px;
    background-color: #FFfFFF;
}

.psquare {
    height: 50px;
    width: 50px;
    background-color: #B000FF;
}

.bsquare {
    height: 50px;
    width: 50px;
    background-color: #000000;
}


.big {
    height: 579.19px;
    width: 866.29px;
}

.topleft {
    margin-left: -540px;
    margin-top: -390px;
}

.longbar {
    min-width: 100%;
    height: 100px;
}

.rotate {
    transform: rotate(45deg);
}

.rotateinv {
    transform: rotate(-45deg)
}

.psquare1 {
    height: 428.57px;
    width: 300px;
    margin-left: 150px;
    margin-top: -125px;
    position: relative;
    z-index: -1;
}

.bsquare1 {
    height: 285.71px;
    width: 126px;
    margin-left: 0px;
    margin-top: -295px;
    position: relative;
    z-index: -1;
}