body {
    background-image: url('../../images/Background.png');
    background-color: #F0F0F0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

h3 {
    margin-top: 200px;
    font-size: 50px;
    text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

h3:hover {
    text-shadow: -15px 15px 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 30px;
    text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    margin-top: 150px;
    transition: 0.3s;
}

p:hover {
    text-shadow: -15px 15px 10px rgba(0, 0, 0, 0.2);
}

.welcome {
    margin-top: 50px;
    font-size: 125px;
    text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.welcome:hover {
    text-shadow: -15px 15px 10px rgba(0, 0, 0, 0.2);
}


.icon {
    height: 50px;
    color: #FFF;
    background-color: #b000ff;
    transition: 0.3s;
}

.icon:hover {
    color: black;
}

.navbar {
    background-color: #b000ff;
    z-index: 2;
}

.carousel {
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    padding-top: 100px;
}

.carousel-inner img {
    margin: auto;
    margin-bottom: 100px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    border-radius: 5px;
}

.contact {
    margin-bottom: 200px;
}

/*POPUP COLORS*/

.btn-primary {
    background-color: #b000ff;
    border: none;
}

.btn-primary:hover {
    background-color: black;
}

.btn-secondary {
    background-color: black;
    border: none;
}

.btn-secondary:hover {
    background-color: black;
    color: #b000ff;
}

/*MEDIA*/

@media only screen and (max-width: 1200px) {
    .welcome {
        font-size: 75px;
    }

    h3 {
        font-size: 40px;
    }

    .icon {
        height: 30px;
    }

    p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .welcome {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    @media only screen and (max-width: 415px) {
        .welcome {
            font-size: 25px;
        }

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
        }
    }